html {
    background-image: url("images/mainBackground.jpg");
    /* ***LINK TO IMAGE WHEN NOT HOSTING DIRECTLY***
    background-image: url("https://media.istockphoto.com/vectors/seamless-vector-pattern-with-hand-drawn-food-vector-id661075968");
     */
}

/* Top Navigation Bar Formatting*/
.topNavBar {
    position: absolute;
    text-align: center;
    white-space:nowrap;
    background-color: #939393;
    padding: 12px 0px;
    width: 100%;
    top: 0; /*remove padding and margin for the top and left of nav bar*/
    left: 0;
}
.topNavBar a {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    border: 1px solid transparent;/* this exists to prevent css jittering*/
    border-radius: 5px;
    padding: 10px 10px;
    text-decoration: none;
    color: inherit;
}
.topNavBar a:hover {
    background-color: #414141;
    color: white;
    border: 1px solid white;
}
.topNavBar a.active {
    text-decoration: underline;
}
.topNavBar a.active:hover{
    background-color: #939393;
    border: 1px solid transparent;
}
.defaultHiddenList {
    display: none;
    position: absolute;
    background-color: #939393;
    padding: 0;
    list-style-type: none; /*hides the bullet points of dropdown nav*/
}
/* Display inner-page navigation when hovering on active page link*/
.topNavBar .topNavDropdown:hover .defaultHiddenList {
    display: block;
}
/* This prevents the Current page link from doing weird formatting*/
.topNavBar .topNavDropdown{
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;/*hides the bullet points of the active navigation tab*/
}
.topNavBar .hiddenLink {
    display:block;
    margin: 10px;
    font-size: 1em;
    list-style-type: none;
}
.topNavBar .hiddenLink:hover {
    border: 1px solid transparent;
    background-color: #939393;
    list-style-type: none;
}

#hiddenContent {
    display: none;
}
.contentContainer {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    height: 100%;
}

.landingContent {
    background-color: white;
    margin-top: 50px;
    grid-column-start: 2;
    grid-column-end: 3;
    border: 5px solid #939393;
    padding: 10px 10px;
    text-align: center;
    font-size: 20px;

}

#authorImage {
    width: 250px;
    height: 250px;
}

/*recipe formatting*/
.recipeContainer {
    background-color: white;
    background-image: url("images/recipeBackground.jpg");
    background-size: 100%;
    /* ***LINK TO IMAGE WHEN NOT HOSTING DIRECTLY***
    background-image: url("https://freestock.ca/coffee_stained_cue_card_sjpg2971.jpg");*/
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 50px 150px 200px;
    grid-template-columns: repeat(6, minmax(5%, 15%));
    grid-gap: 5px;
    border: 5px solid #414141;
    min-width: 800px;
    margin-top: 50px;
    padding: 5px;
    font-size: 20px;
}
.recipeImage {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
}

.recipeTitle {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 7;
    text-align: center;
    text-decoration: underline;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 24px;
    margin-top: 0;
}

.recipeDescription {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 7;
    padding-left: 30px;

}

.recipeIngredients {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.recipePreparation {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}

.recipeDirection {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 7;
}

.recipeHeader {
    text-align: left;
    font-size: 20px;
    text-decoration: underline;
}