/* General Top Navigation Bar Formatting*/
.topNavBar {
    vertical-align: top;
    width: 100%;
    white-space:nowrap;
    background-color: #939393;
    padding: 15px 5px;
}
/* Top Navigation Link Formatting*/
.topNavBar a {
    font-family: 'Arimo', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    border: 1px solid transparent;/* this exists to prevent css jittering*/
    border-radius: 5px;
    padding: 10px 10px;
    text-decoration: none;
    color: inherit;
}
.topNavBar a:hover {
    background-color: #414141;
    color: white;
    border: 1px solid white;
}

/* Formatting for the active page link in Top Navigation Bar*/
.topNavBar a.active {
    text-decoration: underline;
}
.topNavBar a.active:hover{
    background-color: #939393;
    border: 1px solid transparent;
}

/*Formatting to make inner-page navigation invisible*/
.defaultHiddenList {
    display: none;
    position: absolute;
    background-color: #939393;
    padding: 0;
    list-style-type: none; /*hides the bullet points of dropdown nav*/
}

/* Display inner-page navigation when hovering on active page link*/
.topNavBar .topNavDropdown:hover .defaultHiddenList {
    display: block;
}

/* This prevents the Current page link from doing weird formatting*/
.topNavBar .topNavDropdown{
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;/*hides the bullet points of the active navigation tab*/
}

.topNavBar .hiddenLink {
    display:block;
    margin: 10px;
    font-size: 1em;
    list-style-type: none;
}
.topNavBar .hiddenLink:hover {
    border: 1px solid transparent;
    background-color: #939393;
    list-style-type: none;
}

#hiddenContent {
    display: none;
}


/*recipe formatting*/
.recipeContainer {
    display: grid;
    grid-template-rows: 50px 150px 200px;
    grid-template-columns: repeat(6, minmax(5%, 20%));
    grid-gap: 10px;
    border: 10px solid #414141;
    max-width: 60%;
    min-width: 800px;
    padding: 10px;
}
.recipeImage {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    height: 100%;
}

.recipeTitle {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 7;
    text-align: center;
    text-decoration: underline;
}

.recipeDescription {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 7;
    padding: 10px;
}

.recipeIngredients {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.recipePreparation {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}

.recipeDirection {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 7;
}

.recipeHeader {
    text-align: left;
    font-size: 18px;
}